
@{
    ViewBag.Title = "Registration Form";
}

<h2>@ViewBag.Title</h2>

<p>
    Please enter your information to register an account.
</p>

<form>
    First Name: <input /><br />
    Last Name: <input /><br />
    E-Mail: <input /><br />
    Password: <input /><br />
    <button>Register</button>
</form>